body {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    scroll-behavior: smooth;
    background: #c7b39b url(https://klv-oboi.ru/img/gallery/56/thumbs/thumb_l_25288.jpg);
}

.main_conteiner {
    height: auto;
    width: 450px;
    margin-top: 120px;
    padding: 20px;
    border: 1px solid rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: rgb(250, 250, 250);
    opacity: 0.93;
}


.main_conteiner h2 {
    font-family: italic;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: normal;
    cursor: pointer;
    text-shadow: 0 0 0 #333;
    color: transparent;
    transition: all .5s;
    letter-spacing: 1.1px;
}
.main_conteiner h2:hover {
    text-shadow: 0 0 15px #999;
}



.add_task {
    
    background: rgb(238, 238, 238); 
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
     
}



#title1 {
    padding: 5px;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    font-size: 15px;
    font-family: helvetica, sans-serif;
}



#knopochka {

    margin-left: 15px; 
    color: #fff; /* цвет текста */
    user-select: none; /* убирать выделение текста */
    /* padding: 5px;  */
    border-radius: 30px;
    border: 1px solid #c5c5c5;
    height: 50px;
    width: 50px;
    font-size: 30px;
    background: rgb(255, 255, 255) url(https://d30y9cdsu7xlg0.cloudfront.net/png/34129-200.png) 60% 60% no-repeat ;
    background-size: cover;
    opacity: 0.7;
    transition: .3s;






}
#knopochka:active {
    background: rgba(24, 216, 98, 0.26) url(https://d30y9cdsu7xlg0.cloudfront.net/png/34129-200.png) 60% 60% no-repeat;
    background-size: cover;
    opacity: 0.7;
    transition: .3s; 
} 



.main_conteiner ul {

    height: auto;
    max-height: 330px;
    width: 410px;
    margin-left: 0px; 
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border-radius: 10px;
    overflow: auto;


}
.main_conteiner ul li {
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
    transition: .5s;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);
    word-wrap: break-word;
    word-break: break-all;
    width: 385px;
    min-height: 40px;
    height: auto;
    display: flex;  
    flex-direction: row;
    align-items: center; 
    flex-wrap: nowrap;
    flex-shrink: 0;
    transition: .3s; 
}
.main_conteiner ul li:hover {
    transition: .3s; 
}




.main_conteiner ul li:nth-child(2n) {
    
    width: 385px;
    background: rgb(232, 232, 232);
    border-radius: 10px;
    border: 1px solid rgb(189, 189, 189);

}

 .delete {
    height: 18px;
    width: 18px;
    line-height:20px;
    text-align: right;
    border: 2px;
    margin-right: 0;
    background: url(http://s1.iconbird.com/ico/0612/prettyoffice/w256h2561339405847Delete256.png) 100% 100% no-repeat;;
    background-size: cover;
    opacity: 0.8;
}
.checkbox {
    height: 18px;
    width: 18px;
    border: 2px;
    opacity: 0.8;
}
.spanClass {
    width: 340px;
    height: auto;
    display: block;
    border: black


}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}


::-webkit-scrollbar-track {border-radius: 6px;}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-thumb {border-radius: 4px;background: #d8d8d8;}
:hover::-webkit-scrollbar-thumb {background: #a2a2a2;}

.notVisible {
    display: none;
}

#bottomButton {
    position:relative;
    width: 420px;
    height: 50px;

}

#deliteList {
    height: 40px;
    position:absolute;
    top:5px;
    right:10px;
    width:100px;
    margin: 0x; 
    color: rgb(70, 70, 70); /* цвет текста */
    user-select: none; /* убирать выделение текста */
    opacity: 0.75;
    background: rgb(250, 250, 250);/* фон кнопки */
    padding: 5px; 
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1.1px;
    color: #524f4e;
    background: white;

}
#deliteList:active {
    background: rgb(157, 97, 90); 
} 
#deliteList:hover {
    background: rgb(84, 144, 255);
    box-shadow: 0 15px 20px rgba(145, 171, 255, 0.4);
    color: white;
    transform: translateY(-3px);
  }

#deliteList2 {
    height: 40px;
    position:absolute;
    top:5px;
    right: 150px;
    width:120px;
    margin: 0px; 
    color: rgb(70, 70, 70); /* цвет текста */
    user-select: none; /* убирать выделение текста */
    padding: 5px; 
    border-radius: 10px;
    border: 2px solid rgb(202, 202, 202);;
    opacity: 0.75;
    background: rgb(250, 250, 250);/* фон кнопки */
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1.1px;
    color: #524f4e;
    background: white;

}
#deliteList2:active {
    background: rgb(157, 97, 90); 
    transition: .3s; 

} 
#deliteList2:hover {
    background: rgb(84, 144, 255);
    box-shadow: 0 15px 20px rgba(145, 171, 255, 0.4);
    color: white;
    transform: translateY(-3px);
  }


#deliteList3 {
    height: 40px;
    position: absolute;
    top:5px;
    left:10px;
    width:100px;
    margin: 0x; 
    color: rgb(70, 70, 70); /* цвет текста */
    user-select: none; /* убирать выделение текста */
    opacity: 0.75;
    background: rgb(250, 250, 250);/* фон кнопки */
    padding: 5px; 
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1.1px;
    color: #524f4e;
    background: white;

}
#deliteList3:active {
    background: rgb(157, 97, 90); 
} 
#deliteList3:hover {
    background: rgb(84, 144, 255);
    box-shadow: 0 15px 20px rgba(145, 171, 255, 0.4);
    color: white;
    transform: translateY(-3px);
  }

.delete {
    transition: .3s; 
}
.delete:hover {
    transition: .3s; 
    box-shadow: 0 15px 20px rgba(145, 171, 255, 0.4);
    color: white;
    transform: translateY(-3px);
}